doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Students

        style.
            table {
                font-family: Arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
            }

    body
        main
            table
                thead
                    tr
                        th Nazwisko
                        th Imię
                        if showDepartmentColumn
                            th Wydział
                tbody
                    each student in students
                        tr
                            td= student.lastName
                            td= student.firstName
                            if showDepartmentColumn
                                td= student.departmentAcronym
